/* AJUSTES GENERALES */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

:root {
    /* General Colors */
    --primary-color: #252525;
    --secondary-color: #ffffff;
    --tertiary-color: #015a9d;
    --accent-color: #00cee1;

    /* Font Sizes */
    --font-xxl-size: 6em;
    --font-xl-size: 3em;
    --font-lg-size: 2em;
    --font-md-size: 1.5em;
    --font-sm-size: 1em;
    --font-xs-size: 0.6em;

    /* Screen heights */
    --screen-full-height: 100dvh;
    --screen-xl-height: 8em;
    --screen-md-height: 5em;
    --screen-sm-height: 3em;
}

/* TYPOGRAPHY */

h1 {
    font-size: var(--font-xxl-size);
}

h2 {
    font-size: var(--font-xl-size);
}

h3 {
    font-size: var(--font-lg-size);
    font-weight: 400;
}

p {
    font-size: var(--font-sm-size);
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    background-color: #a7a7a7FF;
    width: 10%;
    margin: 1em 0;
}

/* BUTTONS */

.btn-1 {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #9d9d9d;
    border-radius: 50px;
    padding: 1em 2.5em;
    color: var(--sa-tertiary-color);
    font-weight: 600;
    cursor: pointer;
}

.btn-1:hover {
    border: solid 1px white;
    transition: 0.3s;
}

.btn-2 {
    background-color: var(--sa-tertiary-color);
    border: none;
    border-radius: 50px;
    padding: 1em 2.5em;
    color: var(--sa-secondary-color);
    font-weight: 600;
    cursor: pointer;
}

.btn-2:hover {
    background-color: #c8c8c8;
    transition: 0.3s;
}

/* GRID */

.main-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas:
    "navbar"
    "hero"
    "gallery"
    "footer";
}

/* --- Desktop Grid ---*/

@media only screen and (min-width: 576px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr repeat(4, 1fr);
        grid-template-areas:
        "navbar hero hero hero hero"
        "navbar gallery gallery gallery gallery"
        "navbar footer footer footer footer";
    }
}

/* -------------------- */
/* -------------------- */
/* -------------------- */

/* NAVBAR */

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 2em;
    height: 5em;
    width: auto;
    background-color: var(--primary-color);
}

.logo {
    display: flex;
    justify-content: start;
    width: auto;
    height: 3em;
}

.menu {
    display: none;
}

#burger {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 2em;
}

/* --- Desktop  Navbar --- */

@media only screen and (min-width: 576px) {
    .navbar {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: auto;
        height: 100%;
        padding: 0em;
    }

    .logo {
        margin: 2em 0 0 2em;
    }

    .menu {
        display: flex;
        flex-direction: column;
        line-height: 2em;
        overflow: hidden;
        width: 100%;
    }
    
    .menu a {
        padding: 0 0 0 3em;
        color: var(--secondary-color);
    }

    .menu li {
        padding: 0.5em;
        width: 100%;
        transition: background-color 1.2s ease-in-out;
    }

    .menu li:hover {
        background-color: #00cee1;
        color: var(--primary-color);
    }

    #burger {
        display: none;
    }
}

/* HERO */

.hero {
    grid-area: hero;
    height: 45em;
    position: relative;
    overflow: hidden;
}

.hero video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero-content {
    position: absolute;
    left: 2rem;
    bottom: 3rem;
    z-index: 3;
    color: var(--secondary-color);
}

.hero-content h1 {
    font-size: var(--font-xl-size);
    margin-bottom: 0.3em;
}

.hero-content p {
    text-transform: uppercase;
}

.hero-content button {
    margin-top: 2em;
}

/* Desktop Hero */

@media only screen and (min-width: 576px) {
    .hero {
        height: var(--screen-full-height);
    }

    .hero-content h1 {
        font-size: var(--font-xxl-size);
        margin-bottom: 0em;
    }
}

/* PRODUCTOS */

.main-prod-grid {
    grid-area: gallery;
    width: 100%;
}

.products-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0 0 8em 0;
}

/* --- Title --- */

.cards-block h2 {
    font-size: var(--font-lg-size);
    margin: 2em 0 1em 0;
}

/* --- Grid --- */

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
  column-gap: 50px;
}

/* --- Product Card --- */

.product-card {
  transition: opacity .3s ease, transform .5s ease;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 350px;
  overflow: hidden;
  padding: 0 0 20px 0;
  border-radius: 20px;
  text-align: center;
}

.product-card:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.product-card.hidden {
    display: none;
}

/* --- animación: */

.product-card {
  animation-duration: 0.4s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
}

to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*---- fin animacion --- */

.img-prod-card {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.text-prod-card {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 1em;
}

.text-prod-card h3 {
    font-weight: 600;
}

.btn-card-1 {
    padding: 0.8em 1.5em;
    background-color: #ffffff00;
    color: black;
    border: solid 1px black;
    border-radius: 30px;
}

.btn-card-1:hover {
    background-color: #000;
    color: white;
    transition: 0.3s;
}

.btn-card-2 {
    padding: 0.8em 1.5em;
    background-color: #007cba;
    color: white;
    border: none;
    border-radius: 30px;
}

.btn-card-2:hover {
    background-color: #ffffff00;
    color: #007cba;
    border: solid 1px #007cba;
    transition: 0.3s;
}

/* Desktop Gallery*/

@media only screen and (min-width: 576px) {
    .products-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 60px;
      column-gap: 50px;
    }

    .cards-block h2 {
        font-size: var(--font-xl-size);
    }
}

/* FOOTER */

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    gap: 30px;
    background-color: #000000;
    color: var(--secondary-color);
    height: var(--screen-md-height);

}